*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
!iTantra-v8.apk
!iTantra-v5.apk
!iTantra-v9.apk
!iTantra-v10.apk
!iTantra-v11.apk
app/src/main/assets/models/


